mat-card {
  margin: 80px auto;
  max-width: 570px;
  border: 1px solid transparent;
  color: black;
  /* background: rgb(252, 252, 252); */
  background: rgba(255, 255, 255, 0.521);
}

mat-card:hover {
  cursor: context-menu;
  opacity: 1;
}

mat-card-content {
  overflow: auto;
  height: 150px;
}

img {
  width: 100%;
  height: 400px;
  /* display: none; */

  opacity: 0.3;
}

img:hover {
  opacity: 1;
}

max-form-field {
  width: 100%;
}

.edit-icon-color:hover {
  transform: scale(1.5);
  color: #673ab7;
}

.delete-icon-color:hover {
  transform: scale(1.5);
  color: #f44336;
}

mat-card-content::-webkit-scrollbar {
  width: 6px;
}

mat-card-content::-webkit-scrollbar-track {
  background: transparent;
}

mat-card-content::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  border-radius: 5px;
}

mat-card-content {
  color: rgb(0, 0, 0);
}

mat-form-field {
  width: 100%;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  border-radius: 5px;
}

.text-color-post-header {
  /* color: #673ab7; */
  color: rgba(0, 0, 0, 0.842);
}

.edit-post-card-title {
  /* color: #673ab7; */
  color: rgba(0, 0, 0, 0.842);
}

.scale-button:hover {
  transform: scale(1.2);
}

.page-background {
  /* background-image: url("../../../assets/images/clouds2.jpg"); */
  background: url('https://firebasestorage.googleapis.com/v0/b/prueba-12f4e.appspot.com/o/posts%2FTonys-haptic-computer-interface.png?alt=media&token=31191b85-57ae-4ad8-85fb-b734a0d55c71') no-repeat bottom;

  background-size: cover;
}

.text-overflow-hidden {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
